<nav class="navbar navbar-expand-lg sticky-top py-2 shadow-sm" [ngStyle]="{'color': textColor}"  [ngStyle]="{'background-color': bgColor}">


<nav class="navbar navbar-expand-lg sticky-top py-2 shadow-sm" [ngStyle]="{'color': chTheme}"  [ngStyle]="{'background-color': notTheme}">

  <!-- <img src="assets\icon\Logo.png" alt="Logo" style="height: 3%;width: 4%;"> -->
  <ion-icon name="people-outline" class="px-2" [ngStyle]="{'color': textColor}"></ion-icon>
  <a class="navbar-brand font-weight-bold text-center size mr-0" routerLink="/home">Coterie</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <!-- <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown size1">
      <a class="nav-link dropdown-toggle active size1" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <ion-icon name="people-outline" class=""></ion-icon>
      </a>
      <div class="dropdown-menu dropdown-content bg-dark" aria-labelledby="navbarDropdown">
        <a class="dropdown-item text-light" routerLink="/mens">Men</a>
        <a class="dropdown-item text-light" routerLink="/women">Women</a>
        <a class="dropdown-item text-light" routerLink="/elec">Electronics</a>
        <a class="dropdown-item text-light" routerLink="/jackets">Jackets</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-light" routerLink="/others">Others</a>
      </div>
    </li>
  </ul> -->
  <div class="">
    <span [ngStyle]="{'color': textColor}" class="border-left navbar-brand font-weight-bold col-md-2 text-center mx-0">[clg name]</span>
  </div>

  <div class="mr-auto"></div>
  
  <form class="form-inline my-lg-0" >
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>

  <a class="nav-link" (click)="presentAlert()" *ngIf="this.LoginService.current_mail == '' && this.LoginService.current_pass == ''">Login</a>
  <a class="nav-link" (click)="logout()" routerLink="" *ngIf="this.LoginService.current_mail != '' && this.LoginService.current_pass != ''" >Logout</a>
  

  <div [ngStyle]="{'color': textColor}" *ngIf="this.LoginService.current_mail != '' && this.LoginService.current_pass != ''">
    <ion-icon name="notifications-outline" class="px-2"></ion-icon>
    <ion-icon name="chatbox-ellipses-outline" routerLink="/chat" class="px-2"></ion-icon>
  </div>

  <div class="dropdown" [ngStyle]="{'color': textColor}">
    <ion-icon name="settings-outline" class="px-2 dropbtn"></ion-icon>
    <div class="dropdown-content" [ngStyle]="{'color': textColor}">
      <a class="nav-link" routerLink="/profile">Profile</a>
      <div class="dropdown-divider"></div>
      <a class="nav-link" routerLink="">kuch</a>
      <a class="nav-link" routerLink="">kuch</a>
      <h5><ion-toggle mode ="ios" size="small" (ionChange)="lighttheme($event)"></ion-toggle>{{mode}}</h5>
      
    </div>
  </div>
  
</div>

</nav>


