<app-header></app-header>

<ion-content>
  <div class="row mx-5">
    <div class="col-md-8 text-center">
      <p class="border rounded shadow">
        Post Here
      </p> 
    </div>
    <div class="col-md-4 text-center">
      <div>
        <p class="border rounded shadow right-cols">Top news</p>
      </div>
      <div>
        <p class="border rounded shadow right-cols">Top Posts</p>
      </div>
      <div>
        <p class="border rounded shadow right-cols">Top Communities</p>
      </div>
    </div>
  </div>
</ion-content>
