.right-cols{
  height: 30vh;
}

.header-icons{
  height: 24px;
}

#inverted-img{
  filter: invert(1);
}

#imp{
  // filter:invert()
  color: red;
}
// .filter-tag{
//   padding: 8px;
// }

ion-icon{
  font-size: 150%;
}

.col-size{
  max-width: fit-content;
  
}

.col-size:hover{
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
}


.post-img-preview{
  max-height: 15vh;
}